.orders
  %h1 Orders

  %table
    %tr
      %th Customer name
      %th Customer email
      %th Frame
      %th Description
      %th Price
      %th.center Completed on
      %th.center Paid for on
      %th

    - @orders.each do |order|
      %tr
        %td= order.customer_name
        %td= order.customer_email
        %td= order.frame.name if order.frame
        %td= order.description
        %td= number_to_currency(order.price)
        %td.center
          - if order.new?
            = link_to 'Mark Paid', order_mark_paid_path(order), method: :post, data: { :confirm => 'Are you sure?' }, :class => 'button'
          - elsif order.paid_for_on?
            = admin_date_format order.paid_for_on
        %td.center
          - if order.paid?
            = link_to 'Mark Completed', order_mark_completed_path(order), method: :post, data: { :confirm => 'Are you sure?' }, :class => 'button'
          - elsif order.completed_on?
            = admin_date_format order.completed_on
        = render 'shared/index_row_buttons', object: order
